
.navbar-main {
    height: 72px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(30, 29, 79, 0.8);
    backdrop-filter: blur(12px);
    position: sticky;
    top: 0;
    z-index: 50;
}

/* Seção da Logo */
.logo-section {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-box {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: linear-gradient(135deg, #7B61FF, #6C5CE7);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px rgba(123, 97, 255, 0.4);
}

.logo-text {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    letter-spacing: -0.025em;
}

/* Tabs de Navegação */
.nav-tabs {
    display: flex;
    align-items: center;
    gap: 32px;
}

.tab-btn {
    position: relative;
    padding: 8px 0;
    font-weight: 500;
    transition: all 0.3s ease;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px 5px;
  }

.tab-btn.inactive {
    color: #8A8AA3;
}

.tab-btn.inactive:hover {
    color: white;
}

.tab-btn.active {
    color: white;
}

.tab-indicator {
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 3px;
    background: linear-gradient(90deg, #7B61FF, #9B6BFF );
    box-shadow: 0 0 8px #7B61FF;
    border-radius: 2px;
    transition: EntradaBarra 0.3s ease-out;
}
@keyframes entradaBarra {
    from{transform: scaleX(0); opacity: 0;}
    to {transform: scaleX(1); opacity: 1;}    
}
/* Área de Perfil */
.profile-section {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.user-name {
    font-size: 1rem;
    font-weight: 700;
    color: white;
}


.avatar-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    position: relative;
    padding: 15px;
    margin: -15px;

}
.avatar-wrapper:hover .avatar-circle {
    transform: scale(1.2);
    border-color: #7B61FF;
}

.avatar-wrapper:hover .crown-icon-admin {
    transform: translateY(-8px) scale(1.0);
    filter: drop-shadow(0 0 12px rgba(255, 215, 0, 0.8));
}

.avatar-circle {
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    border: 2px solid #392792;
    padding: 2px;
    transition: transform 0.2s;
}

.avatar-gradient {
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    background: linear-gradient(135deg, #6842be, #5CE1E6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.crown-icon-admin {
    position: absolute;
    color: #FFD700;
    filter: drop-shadow(0 0 8px rgba(255, 215, 0, 0.6));
    transition: all 0.3s ease;
    cursor: pointer;
    top: 5px; 
    left: 25px; 
    z-index: 10;
    transform-origin: bottom center;
}



.chevron-icon {
    transition: transform 0.4s ease-in-out;
    color: #8A8AA3;
}
.chevron-icon.rotated {
    transform: rotate(180deg); 
}

.auth-btn {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.05);
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.2s;
    font-weight: 500;
}

.auth-btn:hover {
    background: rgba(255, 255, 255, 0.1);
    border-color: #7B61FF;
}
.dropdown-menu {
    position: absolute;
    top: 110%;
    right: 0;
    background: #1e1d4f;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 8px;
    min-width: 160px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}
.btn-login:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(123, 97, 255, 0.5);
    filter: brightness(1.1);
}

.login-btn-nav {
    display: flex;
    align-items: center;
    gap: 8px;
    background: linear-gradient(135deg, #7B61FF, #6C5CE7);
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(123, 97, 255, 0.3);
}

.login-btn-nav:hover {
    filter: brightness(1.1);
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(123, 97, 255, 0.4);
}

.btn-sair{
    display: flex;
    align-items: center;
    gap: 8px;
    background: linear-gradient(135deg, #d84848, #a71515);
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(123, 97, 255, 0.3);
}
