.container-home{
  background: linear-gradient(180deg, #363467 0%, rgba(30, 29, 79, 0.8) 100%);
  min-height: 90.3vh;
}

.content-home{
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  
  
}

.secao-home {
  text-align: center;
  padding: 60px 0;
}

.secao-home h1 {
  font-size: 2.5rem;
  color: #2d3748;
  margin-bottom: 10px;
}

.capa-cheia {
    width: auto;
    max-width: 85%;
    max-height: 85%;
    border-radius: 12px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6); /* Sombra pesada para destacar do blur */
    object-fit: cover;
}

.preview-side {
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.preview-blur-overlay {
    position: absolute;
    inset: 0;
    background: rgba(30, 29, 79, 0.7); /* Cor do seu tema mais transparente */
    backdrop-filter: blur(15px); /* O segredo da elegância está aqui */
    z-index: -1;
}
.placeholder-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6a6986;
    gap: 10px;
}
.icone-placeholder { font-size: 3rem; opacity: 0.5; }